soap/src/main/resources/wsdl/request_header.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.oracle.com"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://www.oracle.com"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="authenticationheader">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string" />
                <xs:element name="password" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>